<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <form (ngSubmit)="generateRandomDate()" class="d-inline-block">
        <div class="form-group d-inline-block">
          <label for="date1" class="random-date">Año inicio:</label>
          <input
            type="number"
            class="form-control input-small"
            id="date1"
            name="date1"
            [(ngModel)]="date1"
            min="1900"
            max="2100"
          />
        </div>
        <div class="form-group d-inline-block">
          <label for="date2" class="random-date">Año fin:</label>
          <input
            type="number"
            class="form-control input-small"
            id="date2"
            name="date2"
            [(ngModel)]="date2"
            min="1900"
            max="2100"
          />
        </div>
        <div class="d-inline-block align-middle ml-2">
          <button type="submit" class="btn btn-primary btn-lg">
            Generar fecha aleatoria
          </button>
        </div>
      </form>

      <div *ngIf="randomDate" class="random-date">
        <h2>Fecha aleatoria generada:</h2>
        <p>{{ formatShortDate(randomDate) }}</p>
        <p>{{ formatLongDate(randomDate) }}</p>
        <div id="Paso">
          <p id="step5"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <!-- Domingo -->
      <div class="button-group">
        <button
          type="button"
          class="btn btn-primary"
          (click)="checkAnswer('Domingo')"
          [disabled]="!randomDate"
          [ngClass]="{
            'btn-success': resultMessage.includes('Correcto'),
            'btn-danger': resultMessage.includes('Incorrecto')
          }"
        >
          Domingo
          <ng-container *ngIf="showHints && hintsNumbers['Domingo']">
            <div class="hints">
              <p *ngFor="let num of hintsNumbers['Domingo']" class="hintNumb">
                {{ num }}
              </p>
            </div>
          </ng-container>
        </button>

        <!-- Lunes -->

        <button
          type="button"
          class="btn btn-primary"
          (click)="checkAnswer('Lunes')"
          [disabled]="!randomDate"
          [ngClass]="{
            'btn-success': resultMessage.includes('Correcto'),
            'btn-danger': resultMessage.includes('Incorrecto')
          }"
        >
          Lunes
          <ng-container *ngIf="showHints && hintsNumbers['Lunes']">
            <div class="hints">
              <p *ngFor="let num of hintsNumbers['Lunes']" class="hintNumb">
                {{ num }}
              </p>
            </div>
          </ng-container>
        </button>

        <!-- Martes -->

        <button
          type="button"
          class="btn btn-primary"
          (click)="checkAnswer('Martes')"
          [disabled]="!randomDate"
          [ngClass]="{
            'btn-success': resultMessage.includes('Correcto'),
            'btn-danger': resultMessage.includes('Incorrecto')
          }"
        >
          Martes
          <ng-container *ngIf="showHints && hintsNumbers['Martes']">
            <div class="hints">
              <p *ngFor="let num of hintsNumbers['Martes']" class="hintNumb">
                {{ num }}
              </p>
            </div>
          </ng-container>
        </button>

        <!-- Miércoles -->

        <button
          type="button"
          class="btn btn-primary"
          (click)="checkAnswer('Miércoles')"
          [disabled]="!randomDate"
          [ngClass]="{
            'btn-success': resultMessage.includes('Correcto'),
            'btn-danger': resultMessage.includes('Incorrecto')
          }"
        >
          Miércoles
          <ng-container *ngIf="showHints && hintsNumbers['Miércoles']">
            <div class="hints">
              <p *ngFor="let num of hintsNumbers['Miércoles']" class="hintNumb">
                {{ num }}
              </p>
            </div>
          </ng-container>
        </button>

        <!-- Jueves -->

        <button
          type="button"
          class="btn btn-primary"
          (click)="checkAnswer('Jueves')"
          [disabled]="!randomDate"
          [ngClass]="{
            'btn-success': resultMessage.includes('Correcto'),
            'btn-danger': resultMessage.includes('Incorrecto')
          }"
        >
          Jueves
          <ng-container *ngIf="showHints && hintsNumbers['Jueves']">
            <div class="hints">
              <p *ngFor="let num of hintsNumbers['Jueves']" class="hintNumb">
                {{ num }}
              </p>
            </div>
          </ng-container>
        </button>

        <!-- Viernes -->

        <button
          type="button"
          class="btn btn-primary"
          (click)="checkAnswer('Viernes')"
          [disabled]="!randomDate"
          [ngClass]="{
            'btn-success': resultMessage.includes('Correcto'),
            'btn-danger': resultMessage.includes('Incorrecto')
          }"
        >
          Viernes
          <ng-container *ngIf="showHints && hintsNumbers['Viernes']">
            <div class="hints">
              <p *ngFor="let num of hintsNumbers['Viernes']" class="hintNumb">
                {{ num }}
              </p>
            </div>
          </ng-container>
        </button>

        <!-- Sábado -->

        <button
          type="button"
          class="btn btn-primary"
          (click)="checkAnswer('Sábado')"
          [disabled]="!randomDate"
          [ngClass]="{
            'btn-success': resultMessage.includes('Correcto'),
            'btn-danger': resultMessage.includes('Incorrecto')
          }"
        >
          Sábado
          <ng-container *ngIf="showHints && hintsNumbers['Sábado']">
            <div class="hints">
              <p *ngFor="let num of hintsNumbers['Sábado']" class="hintNumb">
                {{ num }}
              </p>
            </div>
          </ng-container>
        </button>
      </div>

      <br />
      <br />
      <div *ngIf="resultMessage" class="random-date">
        <h3>{{ resultMessage }}</h3>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="toggleHints()">
      Mostrar/ocultar consejos
    </button>
    <button type="button" class="btn btn-primary" (click)="toggleProcedure()">
      Mostrar/ocultar procedimiento
    </button>

    <app-procedure></app-procedure>
    <div *ngIf="!showProcedure">
      <div class="black-square" *ngIf="randomDate"></div>
    </div>
  </div>
</div>
