.nmes {
  color: #b84bda !important;
}

.ncen {
  color: #35a82a !important;
}
#Paso {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
